@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Cinzel&family=Dancing+Script&family=Indie+Flower&family=Montaga&family=Montserrat:wght@200;400&family=Open+Sans&family=Oswald&family=Roboto+Condensed:wght@300&family=Roboto:wght@300;700&family=Shadows+Into+Light&display=swap');
/*

=============Navbar style===============

*/

* , *:after ,*:before{
	
	margin:0;
	padding:0;
}


body {
	
font-family: 'Indie Flower', cursive;


 	
}

.container {
	width:85%;
	margin:auto;
}


.navbar {
	padding:0px 16px;
	overflow:hidden;
	background: #d9d9d9;
	position:relative;
	
}



.navbar .logo{
width:50%;
float:left;	
	
}


.navbar .logo .logo-text{
padding-left:122px;
padding-top:10px;
width:35%;	
font-size:50px;

font-family: 'Dancing Script', cursive;







}

.navbar input , .navbar label{
position:left;
top:15px;
right:25px;
	
	
}

.navbar input{
display:none;	
}

.navbar label{
display:block;
width:110px;
height:105px;
background:url('../images/menu.png') no-repeat;
background-size:cover;
padding:37px;
margin:-170px 0px 0px 702px;
cursor:pointer;

	
}

.navbar label:hover{
	background-color: #808080;
	
}

.navbar input:checked ~ .ul-list{
	display:block;
}


.navbar .ul-list{
	width:50%;
	float:left;
	list-style:none;
	
}
.navbar .ul-list .list-item {
display : inline-block;	
}

.navbar .ul-list .list-item a {
	
	display:block;
	color:#222;
	text-decoration:none;
	padding:35px 8px;
	font-size:15px;
	font-family: 'Cinzel', serif;

	
	
}

.navbar .ul-list .list-item a:hover {
	color:#fff;
}




/* media query */

@media(min-width :992px){
	.navbar label{
	display:none;
	
	}
}


@media (max-width:991px){
	.navbar .logo{

	width:89%;
    float:none;
	}
	
	.navbar .logo .logo-text {
	padding:27px 0px 18px 0px;
	width:65%;
	font-size:112px;
	
	
}
	
	.navbar .ul-list{
		
	width:100%;
	float:none;
	margin-top:20px;
	display:none;
}

.navbar .ul-list .list-item {
	font-size:200px;
display :block;	
text-align:center;
}
.navbar .ul-list .list-item a {
	font-size:50px;
    display :block;	
    text-align:center;
}
	
	}
	
	
	/*

=============Home style===============

*/
	
.home {
height:160px;
background-color:#fff;
background-size:cover;
background-position:center;
padding:138px 0px 58px 30px;
text-align:center;

}

.home{
border-bottom-style:inset;	
border-bottom: 7px inset #e5e5e5; 
margin:0px 192px 0px 192px;
}	
	
.home .home-information .home-info{

font-size:40px;
padding-bottom:14px;
}

.home .home-desc{

font-size:20px;
}



@media(max-width :991px){
	
		.home {
		overflow-y: hidden;
        overflow-x: hidden;
        padding-bottom:280px;
		height:667px;
		border-bottom-style:inset;	
        border-bottom: 7px inset ;
		margin:20px;
		
		}
		.home .home-information .home-info{

		font-size:78px;
		}
		.home .home-information .home-desc{
			
			font-size:44px;
		
		}
		
		
}

	
.eduction{
height:160px;
background:url('../images/grr.jpg'), url('../images/PNU.jpg');
background-size:66px,100px;
background-position: 44% 64%, 90% 50%;
background-repeat: no-repeat, no-repeat;
padding:138px;
text-align:left;	

}




.eduction{	
border-bottom-style:inset;	
border-bottom: 7px inset #e5e5e5; 
margin:0px 192px 0px 192px;	
}



.eduction .ed-title .ed-info{

padding:20px 0px 0px 40px;
font-size:50px;
	
}

.eduction .ed-info{
font-size:24px;
}	


/*

=============Education media=================

*/	

@media(max-width :991px){
	
		.eduction {
		overflow-y: hidden;
        overflow-x: hidden;
		height:507px;
		border-bottom-style:inset;	
        border-bottom: 7px inset ;
		margin:20px;
		background:url('../images/grr.jpg'), url('../images/PNU.jpg');
		background-size:117px,160px;
		background-position:82% 62%, 95% 34%;
		background-repeat: no-repeat, no-repeat;	
	
		
		}
		.eduction .ed-title {

		font-size:78px;
		}
		.eduction  .ed-info{
			
			font-size:44px;
		
		}
		
		
}


/*


================Projects ==================


*/
	
.projects {
	
display:block;
height:160px;
background:url('../images/pro.jpg') no-repeat;
background-size:350px;
background-position:74% -8%;
padding:138px;
text-align:left;
	
	
}


.projects .pr-title{
position:absolute;
font-size:40px;
margin:-52px 15px ;	
}


.projects .collapsible{
  	
	  background-color: #ddd;
	  color: Black;
	  padding: 18px;
	  margin:13px;
	  width: 100%;
	  border: none;
	  text-align: left;
	  font-size: 20px;
	  transition: 0.4s;
      font-family: 'Indie Flower', cursive;

	
}

.collapsible:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

 .collapsible:hover {
  background-color: #ADD8E6
;
}

.projects .pr-info {
  padding: 20px 18px;
  display: none;
  max-height: 70px;
  overflow-y: auto;
  background-color: #f1f1f100;
  transition: max-height 0.2s ease-out;


}

.projects{	
border-bottom-style:inset;	
border-bottom: 7px inset #e5e5e5;
overflow-y: auto;
position:relative;
margin:0px 192px 0px 192px;	
padding-bottom:155px;


}




/*

=============media Projects=================

*/	

@media(max-width :991px){
	
		.projects {
		padding-bottom:170px;
        overflow-x: hidden;
		height:160px;
		background:url('../images/pro.jpg') no-repeat;
		background-size:544px;
		background-position:103% -11%;
		height:507px;
		border-bottom-style:inset;	
        border-bottom: 7px inset ;
		margin:20px;
		
		
		
		}
		
		.projects .pr-title{
			margin:-105px 15px ;	
		font-size: 78px;

		}
		.projects .pr-info{
		font-size: 40px;
		max-height:296px;

			
		}
		
		.projects .collapsible{

	  padding: 18px;
	  margin:13px;
	  width: 100%;
	  text-align: left;
	  				  font-size: 40px;

			
		}
		
		
		
}


/*

===============Skills=================

*/


.skills .sk-title{
	
	height:160px;
	padding:71px 138px;
	text-align:left;
	font-size:40px;

	
}


.skills{
background:url('../images/html.png'), url('../images/CSS.png'),url('../images/JS.png'),url('../images/VS.png'), url('../images/MO.png'),url('../images/NB.png');
background-size:100px,100px,100px,100px,100px,150px;
background-position: 18% 70%, 32% 79%,47% 71%, 62% 79%,76% 71%, 93% 79%;
background-repeat: no-repeat;
padding:20px 20px 74px ;
	border-bottom-style:inset;	
	border-bottom: 7px inset #e5e5e5; 
	margin:0px 192px 0px 192px;	
}

@media(max-width :991px){
	
		.skills {
		
		overflow-y: hidden;
        overflow-x: hidden;
		background-size:200px,200px,200px,200px,200px,270px;
        background-position:14% 38%, 47% 36%,82% 37%, 15% 79%,47% 79%, 87% 77%;
		height:715px;
		border-bottom-style:inset;	
        border-bottom: 7px inset ;
		margin:20px;
			
	
		
		}
		
		
		
		.skills .sk-title{
			padding:9px 151px;
		font-size: 78px;

		}
		
		.skills .skill{
						padding:169px 212px;

						font-size: 31px;

		}
		
		
		
		
		
}



/*

=============Certification==================


*/

.Cert .c-title{
	
	height:160px;
	padding:138px;
	text-align:left;
	font-size:40px;

	
}
.Cert .certi{
	padding:43px 46px 0px 140px;
	margin:-224px 0px 86px;
	font-size:27px;
	text-align:left;
}
.Cert .certi2{
	padding:183px 46px 0px 140px;
	margin:-224px 0px 86px;
	font-size:27px;
	text-align:left;
}

.Cert .certi3{
	padding:183px 46px 0px 140px;
	margin:-224px 0px 86px;
	font-size:27px;
	text-align:left;
}
.Cert .certi4{
	padding:183px 46px 0px 140px;
	margin:-224px 0px 86px;
	font-size:27px;
	text-align:left;
}

.Cert{
	background-size:80px;
	background-position: 75% 47%,68% 66%,78% 65%,60% 85%;
	background-repeat:no-repeat;
	border-bottom-style:inset;	
	border-bottom: 7px inset #e5e5e5; 
	margin:0px 192px 0px 192px;	
}



@media(max-width :991px){
	
		.Cert {
        height:160px;
		overflow-y: hidden;
        overflow-x: hidden;
		background-size:105px;
background-position: 95% 44%,86% 66%,100% 68%,88% 92%;
		height:507px;
		
		border-bottom-style:inset;	
        border-bottom: 7px inset ;
		margin:20px;
			
	
		
		}
		
		.Cert .c-title{
		padding:87px;
		font-size:68px;
		
		
		}
		
		.Cert .certi{
			padding:108px 29px 0px 16px;
			margin:-224px 0px 86px;
			font-size:35px;
}

.Cert .certi2{
	padding:174px 40px 0px 21px;
	margin:-224px 0px 86px;
	font-size:35px;
	text-align:left;
}
.Cert .certi3{
	padding:183px 46px 0px 140px;
	margin:-224px 0px 86px;
	font-size:35px;
	text-align:left;
}
		
}

/*

==============contact=============

*/

.Contact{
    height:70px;
	padding:38px 350px;
	text-align:left;
	font-size:30px;
	
	
}

.Contact .co-title{
font-size:40px;	
}


.fa {
  padding: 27px;
  font-size: 30px;
  width: 24px;
  text-align: center;
  text-decoration: none;
  margin: 25px -42px 0px 132px;
}

.fa-google {
  background: #fff;
  color: #A52A2A;
}

.fa-linkedin {
  background: #fff;
  color: #00008B;
}

.fa-whatsapp {
  background: #fff;
  color: #228B22;
}

@media(max-width :991px){
	
		.Contact {
			height:160px;
			padding:2px 144px 0px;
			font-size:55px;
		overflow-y: hidden;
        overflow-x: hidden;
		
		
		}
		
		.Contact .co-title{
				padding:0px;

					font-size:60px;

			
		}
		
		.fa{
		padding: 39px;
  width: 70px;
  
  margin: 3px -153px 19px 101px;	
			
		}
		

		
		
}



/*

==========Copyrights

*/

.copyrights{
  padding:30px;
  font-size:15px;
  text-align: center;
  font-family:Times New Roman;
	
}

@media(max-width :991px){
.copyrights{
	  font-size:30px;

}


}














